<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav-bar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">
    <link rel="stylesheet" href="/Flask files/static/css/register.css">
    <link rel="stylesheet" href="/Flask files/static/css/nav-bar.css">
</head>
<body>

    <div class="title-container">
        <h1 class="page-title">Register Page</h1>
    </div>

    <div class="nav-container">
        <nav class="nav-bar">
            <ul class="nav-links">
                <li><a href="{{url_for('home')}}">home page</a></li>
                <li><a href="aboutUs.html">about us</a></li>
                <li><a href="{{url_for('login')}}">login page</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.username(class="username-input")}}
        {{form.email(class="email")}}
        {{form.password(class="password-input")}}
        {{form.confirm_password(class="password-input")}}
        {{form.submit(class="submit-button")}}
    </form>

    </div>

  
    
</body>
</html>